*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #e9ecef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 500px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

h2{
    color: gray;
    margin-bottom: 25px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.fila{
    display: flex;
    gap: 10px;
}

.fila input{
    width: 100%;
}

button{
    padding: 12px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: #084298;
}